div.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 21.5172px;
    line-height: 26px;
    color: #cfcfcf;
    margin-bottom: 46px;
    strong {
      font-weight: 900;
    }
  }
  .input-text {
    margin-bottom: 24px;
  }

  @media screen and (max-width: 375px) {
    max-width: 90%;
    form {
      max-width: 100%;
    }
  }
}
